<%= form_for(burnup, html: {:class => "form-horizontal center"}) do |f| %>
  <% if burnup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(burnup.errors.count, "error") %> prohibited this burnup from being saved:</h2>

      <ul>
      <% burnup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-xs-2">
      <%= f.label "Total de Cards:", class: 'col-form-label' %>
    </div>
    <div class="col-xs-2">
      <%= f.text_field :total_cards, class: 'form-control', placeholder: 'Total de Cards' %>
    </div>
    <div class="col-xs-2">
      <%= f.label "Time Box (em semanas):", class: 'col-form-label' %>
    </div>
    <div class="col-xs-2">
      <%= f.text_field :timebox_cicles, class: 'form-control', placeholder: 'Time Box (em semanas)' %>
    </div>
    <div class="col-xs-2">
      <%= f.label "Ideia da vazão do time (cards/semana):", class: 'col-form-label' %>
    </div>
    <div class="col-xs-2">
      <%= f.text_field :throughput_projection, class: 'form-control', placeholder: 'Ideia da vazão do time (cards/semana):' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Selecione o algoritmo para a previsão da entrega com base nos dados reais:", class: 'lable' %>
    <%= f.select :algorithm, %w[none repetition random], class: 'form-control' %>
  </div>

  <div class="form-group row">
    <div class="col-xs-4">
      <%= f.label "Dados reais da vazão do time a cada semana (exemplo: 0 0 2 5 6, onde cada número representa a vazão de cards a cada semana):", class: 'col-form-label' %>
    </div>
    <div class="col-xs-8">
      <%= f.text_field :input_real_data, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit 'Draw', class: "btn btn-lg btn-success" %>
  </div>
<% end %>
