<%= form_for(burnup, html: {:class => "form-horizontal center"}) do |f| %>
  <% if burnup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(burnup.errors.count, "error") %> prohibited this burnup from being saved:</h2>

      <ul>
      <% burnup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-xs-2">
      <%= f.label "Total Cards:", class: 'col-form-label' %>
    </div>
    <div class="col-xs-2">
      <%= f.text_field :total_cards, class: 'form-control', placeholder: 'Total Cards' %>
    </div>
    <div class="col-xs-2">
      <%= f.label "Time Box:", class: 'col-form-label' %>
    </div>
    <div class="col-xs-2">
      <%= f.text_field :timebox_cicles, class: 'form-control', placeholder: 'Time Box (weeks)' %>
    </div>
    <div class="col-xs-2">
      <%= f.label "Throughput Projection:", class: 'col-form-label' %>
    </div>
    <div class="col-xs-2">
      <%= f.text_field :throughput_projection, class: 'form-control', placeholder: 'Throughput Projection' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-4">
      <%= f.label "Real World series data (format: 1 4 5 3 2):", class: 'col-form-label' %>
    </div>
    <div class="col-xs-8">
      <%= f.text_field :input_real_data, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit 'Draw', class: "btn btn-lg btn-success" %>
  </div>
<% end %>
