<%= form_for(burnup, url: { action: "create"}, :html => {:class => "form-horizontal center"}) do |f| %>
  <% if burnup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(burnup.errors.count, "error") %> prohibited this burnup from being saved:</h2>

      <ul>
      <% burnup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "Total Cards:", class: 'control-label' %>
    <%= f.text_field :total_cards %>
  </div>

  <div class="control-group">
    <%= f.label "Time Box:", class: 'control-label' %>
    <%= f.text_field :timebox_cicles %>
  </div>

  <div class="control-group">
    <%= f.label "Throughput projection (cards/week):" %>
    <%= f.text_field :throughput_projection %>
  </div>

  <div class="control-group">
    <%= f.label "Real World series data (format: 1 4 5 3 2):" %>
    <%= f.text_field :input_real_data %>
  </div>

  <%= f.submit 'Draw', class: "btn btn-default btn-primary" %>
<% end %>
