<h1> Burnup Chart</h1>
<p> This is an example of a Throughput Chart </p>


<%= column_chart [
  { name: "Expected", data: @burnup.linear_projection },
  { name: "Real World", data: @burnup.real_data }
], id: 'burnup', width: "800px", height: "500px"
%>

<%= render 'form', burnup: @burnup %>

<script type="text/javascript">
  var canvas = $('canvas')[0];
  var context = canvas.getContext('2d');

  function drawTimeBox(){
    context.beginPath();
    context.moveTo(<%= calculate_timebox_coordinate %> , 48);
    context.lineTo(<%= calculate_timebox_coordinate %>, 439);
    context.fillText('Time Box', <%= calculate_timebox_coordinate %>, 33);
    context.stroke();
  }

  canvas.addEventListener('mousemove', function(evt) {
    drawTimeBox();
  }, false);

  drawTimeBox();

</script>
