<div class="jumbotron">
  <!-- h1>Timeboxer</h1 -->
  <p class="lead">Fill all the information that you have about the Project and visualize the Chart</p>
  <%= render 'form', burnup: @burnup %>
</div>

<%= column_chart [
  { name: "Linear Prediction", data: @burnup.linear_projection },
  { name: "Real World", data: @burnup.real_data },
], id: 'burnup', width: "800px", height: "500px"
%>


<script type="text/javascript">
  var canvas = $('canvas')[0];
  var context = canvas.getContext('2d');

  function drawTimeBox(){
    context.beginPath();
    context.moveTo(<%= calculate_timebox_coordinate %> , 48);
    context.lineTo(<%= calculate_timebox_coordinate %>, 439);
    context.fillText('Time Box', <%= calculate_timebox_coordinate %>, 33);
    context.stroke();
  }

  canvas.addEventListener('mousemove', function(evt) {
    drawTimeBox();
  }, false);

  drawTimeBox();

</script>
